<div div fxLayout="column" class="d-container">
  <mat-toolbar class="d-toolbar mdl-color--grey-100">
    <mat-icon (click)="snav.toggle()">menu</mat-icon>
    <h1 class="d-app-name">Front App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="d-sidenav-container">
    <mat-sidenav #snav mode="over" class="d-menu">
      <der-menu (evtCloseMenu)="close()"></der-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
