.d-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.d-toolbar {
  position: fixed;
  z-index: 2;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

h1.d-app-name {
  margin-left: 8px;
}

.d-sidenav-container {
  margin-top: 56px;
  flex: 1;
}

.d-menu {
  background-color: #37474f;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
}
