<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">

    <mat-icon (click)="snav.toggle()">menu</mat-icon>

    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav mode="over">
      <der-menu (evtCloseMenu)="close()"></der-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
