<form [formGroup]="formValidation">
  <div fxLayout="column" fxLayoutAlign="space-around stretch">
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
      <mat-form-field appearance="outline">
        <mat-label> {{ m6s.message('DATE_START') }} </mat-label>
        <input matInput [matDatepicker]="pickerInicial" formControlName="dataInicial" />
        <mat-datepicker-toggle matSuffix [for]="pickerInicial"></mat-datepicker-toggle>
        <mat-datepicker #pickerInicial></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label> {{ m6s.message('DATE_END') }} </mat-label>
        <input matInput [matDatepicker]="pickerFinal" formControlName="dataFinal" />
        <mat-datepicker-toggle matSuffix [for]="pickerFinal"></mat-datepicker-toggle>
        <mat-datepicker #pickerFinal></mat-datepicker>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-form-field appearance="outline">
        <mat-label> {{ m6s.message('VALUE_START') }} </mat-label>
        <input matInput type="number" formControlName="valorInicial" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label> {{ m6s.message('VALUE_END') }} </mat-label>
        <input matInput type="number" formControlName="valorFinal" />
      </mat-form-field>
    </div>

    <der-select-option
      [selectFormControl]="formValidation.controls['orgaos']"
      [selectService]="orgaoService"
      [label]="m6s.message('ORGS')"
    >
    </der-select-option>

    <der-select-option
      [selectFormControl]="formValidation.controls['fontes']"
      [selectService]="fonteService"
      [label]="m6s.message('FONTES')"
    >
    </der-select-option>

    <der-select-option
      [selectFormControl]="formValidation.controls['classificacoes']"
      [selectService]="classificacaoService"
      [label]="m6s.message('CLASSIFICACOES')"
    >
    </der-select-option>

    <der-select-option
      [selectFormControl]="formValidation.controls['credores']"
      [selectService]="credorService"
      [label]="m6s.message('CREDORES')"
    >
    </der-select-option>
  </div>
</form>
<button mat-button id="btCancel" type="button" (click)="cancelar()">
  CANCELAR
</button>
<button mat-button id="btCancel" type="button" (click)="search()">
  PESQUISAR
</button>
