<form [formGroup]="formValidation">
  <p>
    pagamento-search works!
  </p>
  <div fxLayout="column" fxLayoutAlign="space-around center">

    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
      <mat-form-field appearance="outline">
        <mat-label>Data Final</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="dataInicial" />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Data Final</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="dataFinal" />
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Valor Inicial</mat-label>
      <input matInput type="number" formControlName="valorInicial" />
    </mat-form-field>

    <der-select-option [selectFormControl]="formValidation.controls['orgaos']" [selectService]="orgaoService">
    </der-select-option>
  </div>
</form>
<button mat-button id="btCancel" type="button" (click)="search()">
  CANCELAR
</button>
