<mat-accordion>
  <div fxLayout="column" fxLayoutAlign="space-around stretch" class="d-menu">
    <a (click)="closeSideNav()" [routerLink]="['/dashboard']" mat-button>
      <mat-icon>home</mat-icon>
      <span>Dashboard</span>
    </a>
    <a (click)="closeSideNav()" [routerLink]="['/pagamento']" mat-button>
      <mat-icon>shopping_cart</mat-icon>
      <span>Pagamento</span>
    </a>
    <a (click)="closeSideNav()" [routerLink]="['/login']" mat-button>
      <mat-icon>delete</mat-icon>
      <span>Logout</span>
    </a>
  </div>
</mat-accordion>
