<mat-accordion>
  <div fxLayout="column" fxLayoutAlign="space-around stretch" class="d-menu">
    <a (click)="closeSideNav()" [routerLink]="['/dashboard']" mat-button>
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>
    <a (click)="closeSideNav()" [routerLink]="['/pagamento']" mat-button>
      <mat-icon>payment</mat-icon>
      <span>Pagamentos</span>
    </a>
    <a (click)="closeSideNav()" [routerLink]="['/login']" mat-button>
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </a>
  </div>
</mat-accordion>
