.div-pannging {
  padding: 10px;
  margin-top: 10px;
}

/deep/ der-top-five-orgaos .mat-card {
  background-color: #b39ddb;
}

/deep/ der-top-five-credores .mat-card {
  background-color: #90caf9;
}

/deep/ der-five-years-pagamentos .mat-card {
  background-color: #80cbc4;
}
